@use "@/assets/styles/_mixins.scss" as *;
@use "@/assets/styles/_breackpoints.scss" as *;
@use "@/assets/styles/_variables.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 12.4rem;

  @include media("<=small") {
    background: $mobile-layout-background;
    padding: 4.5rem 1.5rem 8rem;
    margin-top: 5.5rem;
  }

  &__content {
    display: flex;
    @include inter-medium-font;

    @include media("<=medium", ">small") {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include media("<=small") {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-menu {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;

      @include media("<=medium", ">small") {
        text-align: end;
        justify-content: flex-end;
        width: 100%;
      }
    }

    &-contacts {
      @include media("<=medium") {
        margin-top: 4rem;
      }
    }
  }

  &__mark {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 3.3rem;
    text-align: end;

    @include media("<=small") {
      margin-top: 5rem;
      text-align: start;
    }

    &__item {
      margin-top: 0.5rem;
      text-decoration: underline;
    }
  }

}