@use "@/assets/styles/_mixins.scss" as *;
@use "@/assets/styles/_breackpoints.scss" as *;

.ui-article {
  @include inter-medium-font;
  @include media("<=large") {
    font-size: 1.6rem;
  }

  @include media("<=medium") {
    font-size: 1.4rem;
  }

  font-size: 1.8rem;

  &__title {
    @include media("<=small") {
      display: flex;
      align-items: center;
      @include montserrat-regular-font;
    }

    & > svg {
      @include media("<=small") {
        margin-right: 0.5rem;
      }
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-top: 0.6rem;
    @include montserrat-regular-font;
  }
}